<%- include('partials/navbar') %>

<div class="container text-center my-5">
    <h2 class="text-3xl font-bold text-red-600 my-4">500 - Internal Server Error</h2>
    <p class="text-lg">We're sorry, but something went wrong.</p>
    <p class="text-md font-semibold text-gray-700"><%= message %></p>
    <a href="/" class="btn btn-primary mt-4">Go Home</a>
</div>

